<div class="page-header" >

  <% if(theme.breadcrumb && theme.breadcrumb.isShow == true) { %>
    <div class="breadcrumb">
      <div class="location"><%= location %></div>
      <i class="icon-location"></i>
    </div>
  <% } %>



  <div class="box-blog-info">
   
    <%- partial('toolbox') %>
    
    <div class="info">
      <h3 class="name" style="font-family: <%= theme.blog_name_font_familiy || 'calligraffittiregular' %>">
        <%= theme.blog_name %>
      </h3>
      <div class="slogan">
        <%= theme.slogan %>
      </div>
    </div>
  </div>

</div>
